# ---------------------------
# IntelliJ level
# ---------------------------
.idea
*.iws
*.iml
*.ipr

# ---------------------------
# Maven level
# ---------------------------
log/
target/

# ---------------------------
# Application level
# ---------------------------
#
applogs/